<li class="list-group-item">
  <h4>
      Email:

  </h4>
  <input type="email" class="form-control" [(ngModel)]="email">
  <h4>
      Nom:

  </h4>
  <input type="text" class="form-control" [(ngModel)]="nom">
  <h4>

      Prenom:

  </h4>
  <input type="text" class="form-control" [(ngModel)]="prenom">

    <h4>

      Password:

  </h4>
  <input type="password" class="form-control" [(ngModel)]="password">
  <h4>

      Date de naissance:
  </h4>
  <input type="date" class="form-control" [(ngModel)]="dob">
  <h4>
  profil
</h4>
<select type="text" class="form-control" [(ngModel)]="profil">
  <option value="Etudiant">Etudiant</option>
  <option value="Admin">Admin</option>
  <option value="Commercial">Commercial</option>
</select><br>



  <button class="btn btn-success"  (click)="enregistrer()">
      Enregistrer le profil
  </button>

</li>
